__pycache__/
*.py[cod]
*.so
*.egg-info/

.venv/
venv/
.env

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

.DS_Store

outputs/
results/
runs/
logs/
tb_logs/
wandb/
swanlog/
infer_output/

checkpoints/
weights/
models/

*.pt
*.pth
*.ckpt
*.bin
*.safetensors
