torch>=2.0.0
torchvision
lightning
numpy
pandas
Pillow
einops
tqdm
imageio
imageio[ffmpeg]
peft
transformers==4.46.2
controlnet-aux==0.0.7
safetensors
sentencepiece
protobuf
modelscope
ftfy
matplotlib
onnxruntime
cupy-cuda12x
